dist:
  name: profiling-collector
  description: Profiling OTel Collector distribution
  output_path: ./collector


processors:
  - gomod:
      github.com/open-telemetry/opentelemetry-collector-contrib/processor/resourcedetectionprocessor ${VERSION}

exporters:
  - gomod:
      go.opentelemetry.io/collector/exporter/debugexporter ${VERSION}
  - gomod:
      go.opentelemetry.io/collector/exporter/otlpexporter ${VERSION}
  - gomod:
      github.com/open-telemetry/opentelemetry-collector-contrib/exporter/elasticsearchexporter ${VERSION}

receivers:
  - gomod: go.opentelemetry.io/ebpf-profiler v0.0.1
    import: go.opentelemetry.io/ebpf-profiler/collector
    name: profilesreceiver
    path: ../../open-telemetry/opentelemetry-ebpf-profiler
  - gomod:
      go.opentelemetry.io/collector/receiver/otlpreceiver ${VERSION}

replaces:
  - github.com/openshift/api v3.9.0+incompatible => github.com/openshift/api v0.0.0-20180801171038-322a19404e37
