dist:
  name: profiling-collector
  description: Profiling OTel Collector distribution
  output_path: ./collector

processors:
  - gomod:
      github.com/open-telemetry/opentelemetry-collector-contrib/processor/resourcedetectionprocessor ${VERSION}

exporters:
  - gomod:
      go.opentelemetry.io/collector/exporter/debugexporter ${VERSION}
  - gomod:
      go.opentelemetry.io/collector/exporter/otlpexporter ${VERSION}

receivers:
  - gomod: go.opentelemetry.io/ebpf-profiler v0.0.1
    import: go.opentelemetry.io/ebpf-profiler/collector
    name: profilesreceiver
    path: ../../open-telemetry/opentelemetry-ebpf-profiler
  - gomod:
      go.opentelemetry.io/collector/receiver/otlpreceiver ${VERSION}
